<main class="mt-5 wrapper">
    <!-- BANNER -->
  <div class="mb-5 profile-banner">

      <!-- TRIP CARD -->
      <div class="trip-owner">
        <div class="row">
          <div class="col owner-card">

          <!-- PROFILE -->
            <div class="profile-img">
                <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
            </div>
            <h1 class="owner fs-1 text-center">Welcome to Ana trip!</h1>
            <p class="description fs-3 text-center"> Surf, Hike, Shopping</p>
          </div>
        </div>
          <div class="d-flex ms-4 icons">
          <% unless @trip.user == current_user %>
            <%= simple_form_for [@trip, @booking] do |f| %>
              <%= f.button :submit, "Join The Trip", class: "btn btn-dark join-btn" %>
            <% end %>
          <% end %>

              <%= link_to root_path, class: "icon" do %>
                <%= fa_icon('heart') %>
              <% end %>

              <%= link_to chatroom_path(@chat), class: "icon" do %>
                <%= fa_icon('paper-plane') %>
              <% end  %>

              <%= link_to trip_path(@trip), target: "_blank", class: "icon" do %>
                <%= fa_icon('share') %>
              <% end  %>

          </div>
      </div>
    </div>
    <div class="container mb-4">
      <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-6 ms-4">
          <img id="trip-pic" src='https://raw.githubusercontent.com/Edwardtoonela/travel-tribe/master/app/assets/images/hs2.jpeg'>
        </div>

        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0 trip-descript">
          <h1 class="text-center trip-txt-style"><%= @trip.name %></h1>
          <h4>Start date: <%= @trip.start_date  %></h4>
          <h4>End date: <%= @trip.end_date  %></h4>
          <h4 class="text-center">Location: <%= @trip.location  %></h4>
          <h2 class="trip-txt-style text-center">Something about the trip</h2>
          <h4 class="trip-description"><%= @trip.description  %></h4>
        </div>
      </div>
    </div>
    <div>
      <h1 class="text-center">Other Trips...</h1>
    </div>
    <div class="mb-4 ml-4">
      <div class="row g-2" style="justify-content: center;">

            <!-- Carousel wrapper -->
        <section class="carousel-wrapper">

        <div class="swiper mySwiper container p-0">
      <div class="swiper-wrapper content">

        <!-- START OF SINGLE BOX -->
        <div class="swiper-slide box">
          <div class="box-content">
            <div class="image">
               <img
                src="https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VyZnxlbnwwfHwwfHw%3D&w=1000&q=80"
                class="box-img-top"
                alt="Waterfall"
                />
            </div>

            <div class="name-profession">
              <span class="name">Surfing</span>
              <span class="profession">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </div>

            <div class="button">
              <button class="btn btn-primary">Check It Out</button>
            </div>
          </div>
        </div>

        <!-- END OF SINGLE BOX -->

        <!-- START OF SINGLE BOX -->
        <div class="swiper-slide box">
          <div class="box-content">
            <div class="image">
               <img
                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/woman-hiking-at-red-rock-canyon-during-sunset-with-royalty-free-image-1601478369.jpg?crop=1.00xw:0.751xh;0,0.159xh&resize=1200:*"
                class="box-img-top"
                alt="Waterfall"
                />
            </div>

            <div class="name-profession">
              <span class="name">Hiking</span>
              <span class="profession">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </div>

            <div class="button">
              <button class="btn btn-primary">Check It Out</button>
            </div>
          </div>
        </div>

        <!-- END OF SINGLE BOX -->

        <!-- START OF SINGLE BOX -->
        <div class="swiper-slide box">
          <div class="box-content">
            <div class="image">
               <img
                src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/44/bb/83/escadaria-central.jpg?w=1200&h=1200&s=1"
                class="box-img-top"
                alt="Waterfall"
                />
            </div>

            <div class="name-profession">
              <span class="name">Shopping</span>
              <span class="profession">Lorem Ipsum is simply dummy text of the printing and typesetting industry.,</span>
            </div>

            <div class="button">
              <button class="btn btn-primary">Check It Out</button>
            </div>
          </div>
        </div>

        <!-- END OF SINGLE BOX -->

        <!-- START OF SINGLE BOX -->
        <div class="swiper-slide box">
          <div class="box-content">
            <div class="image">
               <img
                src="https://www.rionatural.com.br/wp-content/uploads/2015/08/StandupPaddle1.jpg"
                class="box-img-top"
                alt="Waterfall"
                />
            </div>

            <div class="name-profession">
              <span class="name">Stand Up Paddle</span>
              <span class="profession">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </div>

            <div class="button">
              <button class="btn btn-primary">Check It Out</button>
            </div>
          </div>
        </div>

        <!-- END OF SINGLE BOX -->


          </div>
        </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>



        </section>
            <!-- Carousel wrapper -->
          </div>
        </div>

  <div class="push"></div>
</main>
<!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      slidesPerGroup: 3,
      loop: true,
      loopFillGroupWithBlank: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
