  <div class="<%= css_class %>" id="message-<%= message.id %>">
    <small class="user-msg">
     <%= message.user.user_name %> -
     <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    </small>
    <p class="msg"><%= message.content %></p>
  </div>
