<div class="container mx-auto">
    <h2 class="text-center">Edit Your Profile</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs edit-profile container mx-auto">
        <h3 class="mt-4 pt-4"> Update your user info </h3>
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :full_name,
                    required: false,
                    input_html: { autocomplete: "new-full_name" } %>
        <%= f.input :user_name,
                    required: false,
                    input_html: { autocomplete: "new-user_name" } %>
        <%= f.input :photo,
                    as: :file,
                    required: false,
                    input_html: { autocomplete: "new-photo" } %>
        <div class="edit-password">
        <h3 class="mt-4 pt-4"> Update Your password </h3>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        </div>
        <div>
        <h3 class="mt-4 pt-4"> Let the world know about yourself! </h3>
        <label for="exampleFormControlInput1" class="mt-4 pt-3 form-label d-flex flex-column">Your bio goes down here:</label>
        <%= f.text_area :bio,
                    required: false, class:"review-box", required: true, minlength: 30, placeholder: "I like hiking, surfing and anything else that's outdoors related..."%>
        <label for="exampleFormControlInput1" class="form-label d-flex flex-column">What kind of traveler are you:</label>
        <%= f.text_area :traveltype,
                    required: false, class:"review-box", required: true, minlength: 30, placeholder: "How would you describe yourself as a traveler? Are you scrappy or spend a lot? How do you react in extreme situations? What do you value the most about the people you travel with? What would your perfect trip look like?"  %>
        <%= f.input :languages,
                    required: false,
                    input_html: { placeholder: "I speak English, german, spanish ...." } %>
        <%= f.input :home,
                    required: false,
                    input_html: { placeholder: "I live in Brazil, Rio de Janeiro" } %>
        </div>
        <h3 class="mt-4 pt-4" >Confirm Changes</h3>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="mb-5 pb-5 form-actions">
        <%= f.button :submit, "Update" %>
        <%= link_to "Back", :back %>
      </div>
    <% end %>


</div>
