  <div class="container mb-3">
    <h3 class="pending-request-title">Pending Requests</h3>
    <% current_user.trips.each do |trip| %>
      <% trip.bookings.select { |booking| booking.status == "pending" }.each do |booking| %>
        <div class="card-pending">
          <div class="card-body">
            <h4>Request to join "<%= trip.name %>" by:</h4>
            <h5 class="booking-user-name"><%= booking.user.full_name %></h5>
            <div id="trip-status-update">
              <%= link_to "Reject💔", reject_trip_booking_path(trip, booking), class: "btn btn-small" , method: "POST" %>
              <%= link_to "Accept🎉", accept_trip_booking_path(trip, booking), class: "btn btn-small", method: "POST" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>



  <div class="container">
    <h3 class="user-booking">Bookings</h3>

    <div class="row row-cols-1 row-cols-md-3 g-4" style="flex-wrap: wrap;">
    <% current_user.bookings.each do |booking| %>
      <div class="col">
        <div class="booking-card h-100">
          <%= cl_image_tag booking.trip.photo.key, class: "card-img-top"%>
          <div class="card-body">
            <h2 class="card-title"><%= booking.trip.name %></h2>
            <h6 class="card-text">Location: <%= booking.trip.address %></h6>
            <h6 class="card-text"> Date: <%= booking.trip.start_date %> - <%= booking.trip.end_date %></h6>
           <p class="card-text"><%= booking.status %></p>

          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>

    <div class="push"></div>
    
