<main class="mt-5 wrapper">

<!-- Userprofile 1st part -->

  <div class="container pt-5 wrapper_profile">
    <div class="row align-items-start">

    <!-- Userprofile left half-->
        <div class="col"style="flex: 0.6 0 0%;">
          <div class="userprofile-card ms-4">
            <div id="userprofile-picture">
              <div class="mb-4 profile">
                <% if @user.photo.attached? %>
                  <%= cl_image_tag @user.photo.key %>
                <% else %>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
                <% end %>
              </div>
                <!--<img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">-->
            </div>
            <div>
              <% if @user == current_user %>
                <%= link_to "edit profile", edit_user_registration_path(@user), class: "edit-profile" %>
              <% end %>
            </div>
            <div id="userprofile-body" class="ps-3">
              <div class="d-flex flex-column">
                <h3 class="edit-profile-items">Lives in:</h3>
                <p>Rio de Janeiro</p>
              </div>

              <div class="d-flex flex-column">
                <h3 class="edit-profile-items">Speaks:</h3>
                <p>English, Portuguese, Estonian</p>
              </div>

              <% if @user == current_user %>
                <%= link_to "All reviews by you", reviews_path(@user) %>
              <% end %>

            </div>
          </div>
        </div>
    <!-- Userprofile beginning of right half-->
        <div class="col">
          <div class="container pt-2">
            <div class="row align-items-start" style="display: contents;">
              <div class="col user-info-name">
                <h1>Hi, I am <%= @user.full_name %> !</h1>
                </div>
                <div class="d-flex user-info-edit">
                  <p>Joined <%= @user.created_at.year %></p>
                  <% if @user == current_user %>
                    <div>
                      <p>Edit</p>
                    </div>
                <% end %>
              </div>
              <div class="col pt-5 user-info-about">
                <h3>About me:</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised</p>
              </div>
              <div class="col pt-5">
              <h3>What kind of traveler I am:</h3>
               <ul>
                  <li>The user answers will be displayed here</li>
                  <li>we still have to decide whether it will be done in ther registration form or not</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      <!-- Userprofile end of right half-->
      </div>
    </div>

<!-- Userprofile 2nd part -->
<div class="container">
<!-- User Bookings -->
<div>
  <div>
    <h3>Bookings</h3>
  </div>
  <div class="container mt-1 pt-0">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @user.bookings.first(3).each do |booking| %>
      <div class="col">
        <div class="card h-100">
          <% if booking.trip.photo.attached? %>
            <%= cl_image_tag booking.trip.photo.key, class: "card-img-top"%>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <% end %>
          <div class="card-body">
            <h5 class="card-title">Trip name: <%= booking.trip.name %></h5>
            <p class="card-text">Location: <%= booking.trip.address %></p>
            <p class="card-text"> Date: <%= booking.trip.start_date %> - <%= booking.trip.end_date %></p>
            <p class="card-text <%= booking_status(booking) %>"><%= booking.status %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
      <div class="mb-2 mt-2 text-end"><%= link_to "See all", bookings_path(@user) %></div>
  </div>
</div>
<!-- User Bookmarks -->
  <div>
    <h3>Favorites</h3>
  </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 mb-3">
      <div class="col">
        <div class="card-favorites h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-favorites h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-favorites h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="push"></div>
</main>
