<div class="wrapper">
    <div class="mb-4">
      <div id="bannerhp" class="main-banner">
        <div class="banner-text">
          <h1>Make friends, save </h1>
          <h1>money, travel more.</h1>
          <div class="btn">
            <%= link_to "Search Now", href="#card-product", class: "search-btn" %>
          </div>
        </div>
      </div>
      <div class="pre-card-animation">
        <h1>Trips all over Rio de Janeiro</h1>
      </div>
    <div class="home-layout">
      <div class="trip-card">
        <div class="col-8">
          <% @trips.each do |trip| %>
            <div class="col mt-1 mb-4">
            <%= link_to trip_path(trip), class: "link_to_class" do %>
              <div class="card card-product" id="card-product">
                <div class="d-flex bd-highlight">
                  <% if trip.photo.attached? %>
                    <%= cl_image_tag trip.photo.key, height: 300, width: 300, crop: :fill %>
                  <% else %>
                    <img src="https://cdn.pixabay.com/photo/2015/06/11/08/58/cappadocia-805624_1280.jpg" />
                  <% end %>
                  <div class="p-3 flex-fill bd-highlight">
                    <h2 class="pb-2"><strong> <%= trip.name %></strong></h2>
                    <ul>
                      <li><h4 class="mb-2 mt-1"> <%= trip.start_date %><%= trip.end_date %></h4></li>
                      <li><h4 class="mb-2 mt-1"> <%= trip.max_guests %> people</h4></li>
                    </ul>
                    <div class="infos">
                      <p class="mb-3 mt-4 pe-3"><%= trip.description %></p>
                      <p class="mb-1 mt-2"> Tribe members:</p>
                    </div>
                      <% if trip.user.photo.attached? %>
                        <%= cl_image_tag trip.user.photo.key, crop: :fill, class: "profile-icon" %>
                      <% else %>
                        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "profile-icon" %>
                      <% end %>
                      <% trip.bookings.each do |booking| %>
                        <% if booking.user.photo.attached? %>
                          <%= cl_image_tag booking.user.photo.key, crop: :fill, class: "profile-icon" %>
                        <% else %>
                          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "profile-icon" %>
                        <% end %>
                      <% end %>
                    <!--<img class="profile-icon" src="https://raw.githubusercontent.com/Edwardtoonela/travel-tribe/master/app/assets/images/hs1.jpeg" alt="Avatar">
                    <img class="profile-icon" src="https://raw.githubusercontent.com/Edwardtoonela/travel-tribe/master/app/assets/images/hs1.jpeg" alt="Avatar">-->
                  </div>
                  <div class="p-3 flex-fill bd-highlight">
                    <div class="d-flex p-1 pt-2 mb-4 ms-4 bd-highlight">
                      <div class="d-flex bd-highlight">
                        <p class="me-1"><%= trip.average_rating %></p>
                        <i class="pb-1 fas fa-heart"></i>
                      </div>
                      <p class="ms-3"><%= trip.reviews.length %> reviews</p>
                    </div>
                      <div class= "mt-4 mb-2">
                        <div class="row mb-1">
                          <button type="button" class="me-0 btn btn-small btn-dark">Dark</button>
                          <button type="button" class="btn btn-small btn-dark">Dark</button>
                        </div>
                        <div class="row mb-1">
                          <button type="button" class="me-0 btn btn-small btn-dark">Dark</button>
                          <button type="button" class="btn btn-small btn-dark">Dark</button>
                        </div>
                        <div class="row">
                          <button type="button" class="me-0 btn btn-small btn-dark">Dark</button>
                          <button type="button" class="btn btn-small btn-dark">Dark</button>
                        </div>
                      </div>
                    <div class="price">
                      <p>Price estimate: </p>
                      <h3> <%= trip.price_min %> - <%= trip.price_max %></h3>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
        <!-- === MAP STARTS HERE === -->
      <div
        class="map"
        style="width: 100%; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="push"></div>
  </div>
