<div class="wrapper">
    <div class="mb-4">
      <div id="bannerhp" class="main-banner">
        <div class="banner-text">
          <h1>Make friends, save </h1>
          <h1>money, travel more.</h1>
          <!--
          <div class="btn">
            <%#= link_to "Search Now", href="#card-product", class: "search-btn" %>
          </div>
          -->
        </div>
      </div>
      <div class="pre-card-animation">
        <h1>Trips all over South America</h1>
      </div>
    <div class="home-layout">
      <div class="trip-card">
        <div class="col-8">
          <% @trips.each do |trip| %>
            <div class="col mt-1 mb-4">
            <%= link_to trip_path(trip), class: "link_to_class" do %>
              <div class="card-product">
                <div class="d-flex bd-highlight mobile-card-view">
                  <% if trip.photo.attached? %>
                    <%= cl_image_tag trip.photo.key, height: 300, width: 300, crop: :fill %>
                  <% else %>
                    <img src="https://cdn.pixabay.com/photo/2015/06/11/08/58/cappadocia-805624_1280.jpg" />
                  <% end %>
                  <div class="p-3 flex-fill bd-highlight">
                    <h2 class="pb-2"><strong> <%= trip.name %></strong></h2>
                    <ul>
                      <li class="mb-2 mt-1 me-0">
                        <h4><%= trip.start_date.strftime("%d.%B") %> - <%= trip.end_date.strftime("%d.%B.%Y") %> </h4>
                        
                      </li>
                    </ul>
                    <div class="infos">
                      <p class="mb-3 mt-4 pe-3"><%= trip.description %></p>
                      <p class="mb-1 mt-2"> Tribe members:</p>
                    </div>
                      <% if trip.user.photo.attached? %>
                        <%= cl_image_tag trip.user.photo.key, crop: :fill, class: "profile-icon" %>
                      <% else %>
                        <%= image_tag "https://isaojose.com.br/wp-content/uploads/2020/12/blank-profile-picture-mystery-man-avatar-973460.jpg", class: "profile-icon" %>
                      <% end %>
                      <% trip.bookings.each do |booking| %>
                        <% if booking.user.photo.attached? %>
                          <%= cl_image_tag booking.user.photo.key, crop: :fill, class: "profile-icon" %>
                        <% else %>
                          <%= image_tag "https://isaojose.com.br/wp-content/uploads/2020/12/blank-profile-picture-mystery-man-avatar-973460.jpg", class: "profile-icon" %>
                        <% end %>
                      <% end %>
                  </div>

                  <div class="p-3 flex-fill bd-highlight">
                    <div class="d-flex p-1 pt-2 mb-4 ms-4 bd-highlight">
                      <div class="d-flex bd-highlight">
                        <h6 class="me-1 avarage-rating"><%= trip.average_rating %></h6>
                        <i class="icon-review pb-1 fas fa-heart"></i>
                      </div>
                    </div>
                      <div class= "mt-4 mb-2 tags">
                        <div class="row mb-1">
                          <button type="button" class="me-0 btn btn-small btn-dark">Dark</button>
                          <button type="button" class="btn btn-small btn-dark">Dark</button>
                        </div>
                        <div class="row mb-1">
                          <button type="button" class="me-0 btn btn-small btn-dark">Dark</button>
                          <button type="button" class="btn btn-small btn-dark">Dark</button>
                        </div>
                        <div class="row">
                          <button type="button" class="me-0 btn btn-small btn-dark">Dark</button>
                          <button type="button" class="btn btn-small btn-dark">Dark</button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
        <!-- === MAP STARTS HERE === -->
      <div
        class="map"
        style="width: 100%; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="push"></div>
  </div>
