  <div class="container mb-4">
    <h3 class="pb-3">All reviews written by you</h3>

    <div class="row row-cols-1 row-cols-md-3 g-4" style="flex-wrap: wrap;">
    <% current_user.reviews.each do |review| %>
      <div class="col">
          <div class="edits">
            <p class="ms-2"><%= link_to "Delete", trip_review_path(review.trip, review), method: :delete, data: { confirm: "Are you sure?"} %>
            </p>
            <p class="ms-2"><%= link_to "Edit", edit_trip_review_path(review.trip, review) %></p>
          </div>
      <%= link_to trip_path(review.trip), class: "link_to_class" do %>
        <div class="card h-100">
        <!-- Dropdown menu -->
          <!-- <i class="fas fa-caret-circle-down dropdown-toggle"data-bs-toggle="dropdown" aria-expanded="false"></i>

          <ul class="dropdown-menu">

            <p class="ms-2"><%= link_to "Edit", edit_trip_review_path(review.trip, review) %></p>
            <p class="ms-2"><%= link_to "Delete", trip_review_path(review.trip, review), method: :delete, data: {
            confirm: "Are you sure?"} %>
            </p>
          </ul>
        </div> -->

          <div class="card-body">
            <h5 class="card-title">Your trip: <strong><%= review.trip.name %></strong> </h5>
            <h6 class="card-text pt-3"> <%= review.title %></h6>
            <p class="card-text"> <%= review.comment %></p>
            <p style="color: #b2b0b0;">Written on <%= review.created_at.strftime("%d.%m.%Y") %></p>
          </div>
        </div>
      <% end  %>
      </div>
    <% end %>
    </div>
  </div>
<div class="push"></div>
<div class="push"></div>
<div class="push"></div>
