<!DOCTYPE html>
<html>
  <head>
    <title>Travel Tribe is a community where people can list, discover and book unique trip plans with friends or strangers all over the world online</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Travel Tribe is a community where people can list, discover and book unique trip plans with friends or strangers all over the world online" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://res.cloudinary.com/dhilged09/image/upload/v1647868499/production/OG_roikcx.png" />
    <meta property="og:url" content="trvltribe.com" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <script src="https://kit.fontawesome.com/a2164cb399.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
